<div class="inner">
<h1><%= t "txt.password_resets.reset_password" %></h1>

<p><%= t "txt.password_resets.enter_email_address" %></p>

<% form_tag password_resets_path do %>
  <%= text_field_tag :email, nil, :style=> "margin: 1em 0"  %>
  <%= submit_tag t("txt.password_resets.reset_password"), :class=>"button", :style=>"display:block" %>
<% end %>
    </div>