*{
    margin: 0;
    padding: 0;
}

body{
    background: #eee;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

ul,ol{
    list-style-type: none;
}

label{
    font-weight: 300;
    display: block;
}

img{
    border: 0;
}

a{
    color: blue;
}

a:visited{
    
}

/** Layout **/

#container{
    margin: 0 auto;
    width: 700px;
}

/**Flash**/
#flash{
	background-color: #E8FDE6;
	border: 2px solid #35B94D;
	font-size: medium;
	text-align: center;
	padding: 10px;
	margin-bottom: 1em;
	color: #35B94D;
         -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    border-radius:  10px;
}

/** Header **/
#header, #footer{
    text-shadow: rgba(255,255,255,0.25) 1px 1px; /* and -webkit- -moz- versions */
}

#header a, #footer a{
    color: #333;
}

#header{
    position:relative;
    height: 84px;
    line-height: 84px;
}

#header h1{
    font-weight:300;
    font-size: 40px;
}

#header h1 a{
    text-decoration: none;
}

#header ul.nav{
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    background: #e2e2e2;
    -webkit-border-radius:  0 0 10px 10px;
    -moz-border-radius:  0 0 10px 10px;
    border-radius:  0 0 10px 10px;
}

#header ul.nav li{
    float:left;
    margin-left: 1em;
    line-height:2em;
}

#header ul.nav li.last{
    padding-right:1em;
}

#header a.current_project.hover{
    background: #999;
    color: #fff;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius:  10px 10px 0 0;
    border-radius:  10px 10px 0 0;
    padding: 0 5px;
    text-shadow: rgba(0,0,0,0.25) 1px 1px; /* and -webkit- -moz- versions */    
}

#header ul.projects{
    position:absolute;
    top: 0;
    left:0;
    background: #999;
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;
    display: none;
    margin-top: 66px;
    z-index: 1;
}

#header ul.projects li a{
    height: 28px;
    line-height: 28px;
    font-size: large;
    text-decoration:none;
    padding: 0 5px;
    min-width: 200px;
    display: block;
    color: #fff;
    text-shadow: rgba(0,0,0,0.25) 1px 1px; /* and -webkit- -moz- versions */ 
}

#header ul.projects li a:hover{
    background: #888;
    cursor: pointer;
}

#header ul.projects li.new-project a{
    background: #555;
     -webkit-border-radius:  0 0 10px 10px;
    -moz-border-radius:  0 0 10px 10px;
    border-radius:  0 0 10px 10px;
}

#header a.project_settings{
    position: absolute;
    top: 3px;
    left: 0;
    margin-left: -40px;
}

/** Content **/
#content_container{
    clear:both;
    position: relative;
     -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    border-radius:  10px;
    background:#fff;
}

#content{
    text-rendering: optimizelegibility;
    min-height:400px;
}

#content h1 {
    font-weight: 200;
}

#content a{
    color: #333;
}

#content .inner{
    padding: 1em;
}

/** Footer **/
#footer{
    text-align: center;
    margin: 2em 0;
    font-size: small;
    color: #aaa;
}

#footer a{
    color: #aaa;
}

#footer .copyright p{
    margin: 0.5em 0;
}

/** Buttons **/

/* Default Gray/Black Button */
.button{
    font-size: 12px; outline: none;color:#333;text-shadow:1px 1px 0 #fff; font-weight: bold; height:34px;padding:0;position:relative;top:1px;line-height:34px;display:inline-block;text-decoration: none; white-space:nowrap;border:none;overflow:visible;background:#ddd;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#e1e1e1');background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));background:-moz-linear-gradient(-90deg,#fff,#e1e1e1);border-bottom:1px solid #ebebeb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);box-shadow:0 1px 4px rgba(0,0,0,0.3);cursor:pointer;-webkit-font-smoothing:subpixel-antialiased!important;
}
.button span{
    display:block;height:34px;padding:0 13px;line-height:36px;
}
.button:hover{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);border-bottom-color:#333;background:#333;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#666',endColorstr='#333');background:-webkit-gradient(linear,0% 0,0% 100%,from(#666),to(#333));background:-moz-linear-gradient(-90deg,#666,#333);}
.button.mousedown{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);background:#666;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#666',endColorstr='#333');background:-webkit-gradient(linear,0% 100%,0% 0,from(#666),to(#333));background:-moz-linear-gradient(90deg,#666,#333);}
.button.mousedown span{background-position:0 -120px;}
input[type='submit'].button{
    padding: 0 13px;
}

/* Black/Orange */
.button.black{
    color: #fff; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); border-bottom:1px solid #000;background:#333;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#666',endColorstr='#333');background:-webkit-gradient(linear,0% 0,0% 100%,from(#666),to(#333));background:-moz-linear-gradient(-90deg,#666,#333);
}
.button.black:hover{
    border-bottom:1px solid #E8762A;background:#E8762A;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F89924',endColorstr='#E8762A');background:-webkit-gradient(linear,0% 0,0% 100%,from(#F89924),to(#E8762A));background:-moz-linear-gradient(-90deg,#F89924,#E8762A);
}
.button.black.mousedown{
    border-bottom:1px solid #F89924;background:#F89924;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#E8762A',endColorstr='#F89924');background:-webkit-gradient(linear,0% 0,0% 100%,from(#E8762A),to(#F89924));background:-moz-linear-gradient(-90deg,#E8762A,#F89924);
}

/* Red */
/* Black/Orange */
.button.red:hover{
    border-bottom:1px solid #db2727;background:#db2727;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ec2c2c',endColorstr='#db2727');background:-webkit-gradient(linear,0% 0,0% 100%,from(#ec2c2c),to(#db2727));background:-moz-linear-gradient(-90deg,#ec2c2c,#db2727);
}
.button.red.mousedown{
    border-bottom:1px solid #ec2c2c;background:#ec2c2c;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#db2727',endColorstr='#ec2c2c');background:-webkit-gradient(linear,0% 0,0% 100%,from(#db2727),to(#ec2c2c));background:-moz-linear-gradient(-90deg,#db2727,#ec2c2c);
}

/* Large */
.button.large {
    font-size: 16px; height: 40px; line-height: 42px;
}
.button.large span{
    height: 40px; line-height: 42px; padding: 0 18px;
}

/** Action Button **/

.button.action{
    -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    border-radius:  10px;
    text-align:center;
    margin-top: -1px;
    color: #fff; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); border-bottom:none;background:#777;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#aaa',endColorstr='#777');background:-webkit-gradient(linear,0% 0,0% 100%,from(#aaa),to(#777));background:-moz-linear-gradient(-90deg,#aaa,#777);
}
.button.action:hover{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);border-bottom-color:#333;background:#333;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#666',endColorstr='#333');background:-webkit-gradient(linear,0% 0,0% 100%,from(#666),to(#333));background:-moz-linear-gradient(-90deg,#666,#333);}
.button.action.mousedown{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);background:#666;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#666',endColorstr='#333');background:-webkit-gradient(linear,0% 100%,0% 0,from(#666),to(#333));background:-moz-linear-gradient(90deg,#666,#333);}
.button.action.mousedown span{background-position:0 -120px;}
.button.action span{
    color: #fff;
}

.field{
    margin: 1em 0;
}

/** Projects **/
#projects{
    margin-bottom: 10px;
}

#projects li{

}

#projects li a{
    text-decoration: none;
    display: block;
    font-size: x-large;
    padding: 0.75em 1em;
    border-bottom: 1px ridge #ccc;
}

/** features **/
#features li{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px ridge #ccc;
    position:relative;
    clear: both;
}

#features li a{
    display: block;
    line-height: 32px;
    text-decoration: none;
}

#features li .id{
    background: #f7f7f7;
    width: 24px;
    text-align: right;
    height: 32px;
    float: left;
    padding: 0 4px;
    margin-right: 0.5em;
}

#features li .id span{
    background: #999;
    color: #eee;
    font-size: 12px;
    width: 18px;
    display: block;
    height: 18px;
    padding: 0 3px;
    margin: 6px 0;
    line-height: 18px;
    font-weight:bold;
    -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    border-radius:  10px;
    text-align: center;
}

#features li.passed .id, #features li.passed a:hover, #test_scenarios ul li.true{
    background: #99cc94;
}

#features li.passed .id span, #features li.passed a:hover .id{
    background: #10a800;
}

#features li.failed .id, #features li.failed a:hover {
    background: #f57676;
}

#features li.failed .id span, #features li.failed a:hover .id{
    background: #cf0000;
}

#features li .title{
    
}

#features li a:hover{
    background: #ddd;
}

#features li a:hover .id{
    background: #ccc;
}

#features li a:hover .id span{
    background: #333;
    color: #fff;
}

#features{
    margin-bottom: 10px;
    clear: both;
}

#feature_title, #glossary_term_name{
    font-size:x-large;
    font-weight:bold;
    width: 100%;
}

#feature_description{
    width: 100%;
    height: 8em;
    font-size: x-large;
    font-family: Arial, sans-serif;
    padding: 2px;
}

#feature_actor_id{
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
}

div.feature div.description{
    font-size: x-large;
    margin: 1em 0;
}

div.feature .term {
    cursor: default;
    text-decoration: none;
    color: #333;
    border-color: #333;
border-bottom-width: 1px;
border-left-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
border-style: dotted;
    background: #eee;
    position: relative;
}

#test_scenarios ul li{
    height: 32px;
    line-height: 32px;
    position:relative;
    clear: both;
    padding: 0 1em;
    color: #333;
}

#test_scenarios ul li.true{
    background: #b5d7b2;
    border-top: 1px solid #10a800;
}

#test_scenarios ul li.false{
    background: #f7b6b6;
    border-top: 1px solid #cf0000;
}

#feature_bar{
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    background: #888;
    color: #fff;
        -webkit-border-radius:  10px 10px 0 0;
    -moz-border-radius:  10px 10px 0 0;
    border-radius:  10px 10px 0 0;
}

#feature_bar div{
    float: left;
    display: block;
}

#feature_bar .sort{
    width: 32px;
}

#feature_bar .sort a{
    background: #444;
    color: #eee;
    font-size: 12px;
    width: 18px;
    display: block;
    height: 18px;
    padding: 0 3px;
    margin: 10px 4px;
    line-height: 18px;
    font-weight:bold;
    -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    border-radius:  10px;
    text-align: center;
    cursor: pointer;
}

#feature_bar .sort a.asc{
    background-image: url('/images/asc.png');
    background-repeat: no-repeat;
    background-position: center;
}

#feature_bar .sort a.desc{
    background-image: url('/images/desc.png');
    background-repeat: no-repeat;
    background-position: center;
}

#feature_bar .search{
    width:  430px;
}

#feature_bar .search input[type='text']{
    font-size: 18px;
    border: 1px solid #666;
    width: 428px;
    background: #eee;
}

#feature_bar .unsigned a{
    background: #777;
    color: #fff;
    font-size: 12px;
    display: block;
    height: 18px;
    padding: 0 6px;
    margin: 10px 4px;
    line-height: 18px;
    font-weight:bold;
    -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    border-radius:  10px;
    text-align: center;
    width: 98px;
    cursor: pointer;
    text-shadow: rgba(0,0,0,0.1) -1px -1px; /* and -webkit- -moz- versions */
}

#feature_bar .unsigned .true{
    background: #000;
    text-shadow: rgba(20,20,20,0.1) -1px -1px; /* and -webkit- -moz- versions */
}

#feature_bar #actor_id{
    width: 100px;
    background: #ddd;
    margin: 0 6px;
}

#feature_bar .actors{
    margin-top: -3px;
}

/**Signatures**/
.signatures{
    position: relative;
}

.signatures .signature{
    float: right;
    min-width: 220px;
        margin-left: 20px;
}

.signature .ink{
    line-height: 44px;
    height: 44px;
    border-bottom: 1px dashed #000;
}

.signature .ink h2{
    font-size: 24px;
    font-weight: 500;
}

.signature .byline{
    color: #777;
    margin: 0.25em 0;
}

#content .signature .ink input[type="submit"]{
    margin: 0;
    width: 100%;
}

/** Comments **/
#comments .comment {
    padding: 1em;
    border-top: 1px solid #ddd;
}
#comments .body {
    margin-bottom: 0.5em;
    font-size: medium;
}
#comments .body p {
    margin-bottom: 0.5em;
}
#comments .byline {
    color: #666;
    font-size: small;
}
#comment_body{
    width: 99%;
    padding: 2px;
    height: 3em;
    font-size: medium;
}

/** Bottom Content **/
#bottom_content{
    background: #f7f7f7;
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
}

#bottom_content form{
    border-top: 1px solid #ddd;
    padding: 1em;
}

/**estimates**/
.estimates {
  width: 100%;
  margin: 1em 0;
}
.estimates td {
  padding: 0.25em 0;
}
.estimates .feature_title {
  font-weight: bold;
  font-size: large;
}
.estimates .hours {
  width: 3em;
  text-align: right;
}
.estimates input,
.estimates label {
  display: inline;
  width: 2em;
}
.estimates .feature_title input {
  width: 80%;
}

.estimate_form input[type='submit'], .edit_estimate input[type='submit']{
    display: block;
    margin: 1em 0;
}
.estimate_form .properties {
  margin: 1em 0;
}
.estimate_form .properties label {
  display: inline;
}

/**Terms**/

#glossary_term_definition{
    width: 100%;
    height: 150px;
    font-size: medium;
}

#terms li{
    border-bottom: 1px solid #ccc;
}

#terms li a{
    font-size: x-large;
    color: #000;
    padding: 0.5em;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

#terms li a:hover{
    background: #ddd;
}

#terms li a div{
    font-weight: normal;
    font-size: medium;
    margin: 0.25em 0;
}

/** Simple List **/
ul.simple-list li a{
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    display:block;
    padding: 0 1em;
    text-decoration: none;
}

ul.simple-list li a:hover{
    background: #ddd;
}

.simple-list-heading{
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
        -webkit-border-radius:  10px 0 0 0;
    -moz-border-radius:  10px 0 0 0;
    border-radius:  10px 0 0 0;
    padding: 1em;
}

.sign_in{
    margin-bottom: 1em;
}

.home.inner p{
    margin: 1em 0;
}

.home.inner h1,.home.inner h2,.home.inner h3{
    margin-bottom: 0.5em;
}

#project_edit h1{
    margin-bottom: 0.5em;
}

#project_edit .section{
    margin-bottom: 1em;
}

#project_edit input[type='submit']{
    margin:0.5em 0;
}

.feature .actions{
    float: right;
}

.feature .actions li{
    float: left;
    margin-left: 0.5em;
}

.feature .actions .button:hover span{
    color: #fff;
}

#add_feature{
    position: absolute;
    top: 40px;
    right: 0;
}

#add_feature span{
    padding: 0 3em;
}

#features, #projects{
    padding-bottom: 10px;
}

#glossary{
    position: absolute;
    top: 40px;
    right: 0;
    background: #333;
    -webkit-border-radius:  10px 0 10px 10px;
    -moz-border-radius:  10px 0 10px 10px;
    border-radius:  10px 0 10px 10px;
    border: 1px solid #000;
    display: none;
    color: #fff;
}

#glossary ul{
        padding: 10px;
    width: 240px;
    height: 300px;
    overflow-y: auto;
}

#glossary li{
    margin-bottom: 0.5em;
}

#glossary .name{
    font-weight: bold;
}
#glossary .definition{
    font-size: small;
}

#glossary a{
    color: #fff;
}

#glossary a.button{
    width: 240px;
    margin: 10px;
}

#glossary_tab{
    position: absolute;
    top: 40px;
    right: 0;
    margin-right: -30px;
    background: #333;
    color: #fff;
    height: 113px;
    width: 30px;
    cursor: pointer;
}

#add_term {
    display: none;
    position: absolute;
    height: 350px;
    top: 0;
    left: 0;
    padding: 10px;
    background: #333;
    -webkit-border-radius:  10px 0 10px 10px;
    -moz-border-radius:  10px 0 10px 10px;
    border-radius:  10px 0 10px 10px;
}

div.feature .term_container{
    position: relative;
}

div.feature .term_container .tip{
    -webkit-border-radius:  5px;
    -moz-border-radius: 5px;
    border-radius:  5px;
    background: #333;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 34px;
    left: 0;
    width: 180px;
    display: none;
    z-index: 1001;
}