<h1><%= t "txt.dashboard.dashboard" %></h1>

<%=link_to t("txt.dashboard.new_project"), new_project_path%>

<h2><%= t "txt.dashboard.projects" %></h2>

<ul>
  <% current_user.projects.each do |project| %>
  <li><%=link_to project.name, project_path(project)%></li>
  <% end %>
</ul>