<%content_for(:sidebar) do -%>
<a href="<%=new_project_path%>" class="button large action"><span><%= t "txt.projects.new_project" %></span></a>
<% end -%>
<ul id="projects">
  <%= render :partial => "project", :collection => @projects %>
</ul>