<li class="comment">
  <div class="body"><%= simple_format(link_story_terms_by_string(comment.body, comment.story.project)) %></div>
  <div class="byline">Posted by: <strong><%= comment.user.name %></strong> at <%= comment.created_at.to_s(:day_time) %></div>
</li>