<div class="inner">
<h1>New Story</h1>
<%=form_for @story, :url => project_stories_path(@project) do |f|%>
<%=render :partial => "fields", :locals => {:f =>f}%>
<%=f.submit "Create", :class=>"button"%>
<% end %>
</div>