<li>
  <div class="term">
    <div class="name"><%=term.name%></div>
    <div class="definition"><%=term.definition%></div>
  </div>
  <%= link_to "edit", edit_project_glossary_term_path(@project, term), :class => "edit_term" %>
  <div style="clear:both;"></div>
</li>