<div class="inner">
  <h1><%= t "txt.glossary.new_term" %></h1>
<%=form_for @term, :url => project_glossary_terms_path(@project) do |f|%>
<%=render :partial => "fields", :locals => {:f =>f}%>
    <%=f.submit t("txt.general.create"), :class=>"button"%>
<% end %>
</div>