<div class="inner">
<h1>New Feature</h1>
<%=form_for @feature, :url => project_features_path(@project) do |f|%>
<%=render :partial => "fields", :locals => {:f =>f}%>
<%=f.submit "Create", :class=>"button"%>
<% end %>
</div>